name: freeshow
version: 1.4.9
title: FreeShow
summary: Show song lyrics and more for free!
description: A dynamic, user-friendly, and open-source presenter built for all of your presentations.
contact:
    - dev@freeshow.app
license: GPL-3.0-or-later
donation:
    - https://churchapps.org/partner
issues:
    - https://github.com/churchapps/freeshow/issues
source-code:
    - https://github.com/churchapps/freeshow
website:
    - https://freeshow.app
platforms:
    amd64:
        build-on: amd64
        build-for: amd64
    arm64:
        build-on: arm64
        build-for: arm64
base: core24
grade: stable
confinement: strict
plugs:
    gnome-46-2404:
        interface: content
        target: $SNAP/gnome-platform
        default-provider: gnome-46-2404
    gtk-3-themes:
        interface: content
        target: $SNAP/data-dir/themes
        default-provider: gtk-common-themes
    icon-themes:
        interface: content
        target: $SNAP/data-dir/icons
        default-provider: gtk-common-themes
    sound-themes:
        interface: content
        target: $SNAP/data-dir/sounds
        default-provider: gtk-common-themes
layout:
    /usr/share/alsa:
        bind: $SNAP/usr/share/alsa
parts:
    freeshow:
        source: dist/linux-unpacked/
        plugin: dump
        stage-packages:
            - libasound2t64
            - libnode109
            - libglu1-mesa
apps:
    freeshow:
        command: command.sh
        extensions: [gnome]
        plugs:
            - alsa
            - audio-playback
            - avahi-control
            - browser-support
            - camera
            - desktop
            - desktop-legacy
            - home
            - gsettings
            - network
            - network-bind
            - network-control
            - network-observe
            - network-manager
            - network-manager-observe
            - network-setup-observe
            - opengl
            - pulseaudio
            - pipewire
            - removable-media
            - unity7
            - wayland
            - x11
        environment:
            PATH: $SNAP/usr/sbin:$SNAP/usr/bin:$SNAP/sbin:$SNAP/bin:$PATH
            SNAP_DESKTOP_RUNTIME: $SNAP/gnome-platform
            LD_LIBRARY_PATH: $SNAP_LIBRARY_PATH:$SNAP/lib:$SNAP/usr/lib:$SNAP/lib/x86_64-linux-gnu:$SNAP/usr/lib/x86_64-linux-gnu:$LD_LIBRARY_PATH:$SNAP/lib:$SNAP/usr/lib:$SNAP/lib/x86_64-linux-gnu:$SNAP/usr/lib/x86_64-linux-gnu
