@font-face {
    font-family: "CMGSans";
    src: url("./fonts/CMGSans-Regular.ttf");
}
@font-face {
    font-family: "CMGSans";
    src: url("./fonts/CMGSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "CMGSans";
    src: url("./fonts/CMGSans-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "CMGSans";
    src: url("./fonts/CMGSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

:root {
    --primary: #292c36;
    --primary-lighter: #363945;
    --primary-darker: #191923;
    --primary-darkest: #12121c;
    --text: #f0f0ff;
    --textInvert: #131313;
    --secondary: #f0008c;
    --secondary-opacity: rgba(240, 0, 140, 0.5);
    --secondary-text: #f0f0ff;

    --hover: rgb(255 255 255 / 0.05);
    --focus: rgb(255 255 255 / 0.1);
    /* --active: rgb(230 52 156 / .8); */

    /* --font-family: sans-serif; */
    /* https://css-tricks.com/snippets/css/system-font-stack/ */
    /* --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-size: 1em;

    --border-radius: 0;

    /* --navigation-width: 18vw; */
    --navigation-width: 300px;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    /* background-color: #292c36;
  background-color: var(--primary); */
    color: #f0f0ff;
    color: var(--text);
    box-sizing: border-box;
    transition: background-color 0.5s;

    font-family: var(--font-family);
    font-size: var(--font-size);
}

/* scroll bar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: rgb(255 255 255 / 0.05);
}

::-webkit-scrollbar-thumb {
    background: rgb(255 255 255 / 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255 255 255 / 0.5);
}

/* selection */
::selection {
    background-color: var(--secondary-opacity);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary);
    transition: color 0.5s;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
}

h1 {
    font-weight: bold;
}

p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;

    outline-offset: -4px;
    outline-color: var(--secondary);
}

/* button {
  font-family: sans-serif;
	font-family: system-ui;
} */

/* body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
} */
