name: Playwright Tests
on:
    push:
        branches: [dev]
    pull_request:
        branches: [dev]
    workflow_dispatch:

jobs:
    test:
        timeout-minutes: 60
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 20
            - name: Install libraries
              run: sudo apt-get install libfontconfig1-dev
            - name: Install dependencies
              run: npm install
            - name: Install Playwright Browsers
              run: npx playwright install --with-deps
            - name: Build
              run: npm run build
            - name: Run Playwright tests
              run: xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" -- npm run test:playwright
            #   if: matrix.os == 'ubuntu-latest'
            # - run: npm run test
            #   if: matrix.os != 'ubuntu-latest'
            - uses: actions/upload-artifact@v4
              if: always()
              with:
                  name: test-output
                  path: test-output/
                  retention-days: 30
